<%= link_to 'New Merchant', '/merchants/new' %>
<% @merchants.each do |merchant| %>
  <section id='merchant-<%= merchant.id %>'>
    <ul>
    <li><h3><%= link_to merchant.name, "/merchants/#{merchant.id}" %></h3></li>
  </ul>
  </section>
<% end %>
